<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.openstenoproject.dotterel" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- WRITE permission is only required for tests.  Disable it otherwise. -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name="org.openstenoproject.dotterel.DotterelApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >

        <!-- Declares the input method service -->
        <service
            android:name="org.openstenoproject.dotterel.Dotterel"
            android:configChanges="keyboardHidden|keyboard"
            android:label="@string/app_title"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!-- user settings. -->
        <activity
            android:name="org.openstenoproject.dotterel.SettingsActivity"
            android:label="@string/settings_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.openstenoproject.dotterel.SelectDictionaryActivity"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="org.openstenoproject.dotterel.SuggestionsActivity"
            android:label="@string/title_activity_suggestions"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.openstenoproject.dotterel.SetupActivity"
            android:label="@string/title_activity_setup"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="org.openstenoproject.dotterel.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:parentActivityName="org.openstenoproject.dotterel.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.openstenoproject.dotterel.SettingsActivity" />
        </activity>
    </application>

</manifest>